<div class="row container-fluid">
    <div class="col-lg-12">
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title>Contract Creation</mat-card-title>
          <mat-card-subtitle class="mat-body-1">Lets create a contract</mat-card-subtitle>
  
          <form [formGroup]="contractFrom" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <mat-form-field>
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Start date">
                    <input matEndDate formControlName="endDate" placeholder="End date">
                  </mat-date-range-input>
                  <!-- <mat-hint>From – End Date</mat-hint> -->
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                                
              </div>
              <div class="col-md-4 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-label>Initiation Modes</mat-label>
                  <mat-select formControlName="initiationMode">
                    <mat-option *ngFor="let mode of initiationModes" [value]="mode">{{ mode }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Engagement Frequency</mat-label>
                <mat-select formControlName="frequency">
                  <mat-option *ngFor="let item of engagementFrequency" [value]="item.id">{{ item.name }}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              
              <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-label>Amount Paid</mat-label>
                  <!-- Replace this with appropriate input type or mat-select -->
                  <input matInput formControlName="amount" />
                </mat-form-field>
              </div>
              <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Clients</mat-label>
                <mat-select formControlName="clientId">
                  <mat-option *ngFor="let client of clientsData" [value]="client.businessId">{{ client.businessName }}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              
            </div>
           
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <input type="file" class="file-input"
                      (change)="onFileSelected($event)" #fileUpload>

                    <div class="file-upload">

                   {{fileName || "No file uploaded yet."}}

                    <button mat-mini-fab color="primary" class="upload-btn"
                      (click)="fileUpload.click()" type="button">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
              </div>
              <div class="col-md-8 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-label>Brief Description</mat-label>
                  <!-- Replace this with appropriate input type or mat-select -->
                  <input matInput formControlName="description" />
                </mat-form-field>
              </div>
            </div>
            

            <button mat-raised-button color="primary" id="submitButton" type="submit" [disabled]="!submitButtonStatus">Submit</button>
          </form>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  