<mat-card class="cardWithShadow" *ngIf="engagmentDetails">
       
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Engagement Details</mat-card-title>
            <mat-card-title>{{ engagmentDetails.name }}</mat-card-title>
            <mat-card-subtitle>Engagment Start Date: {{ engagmentDetails.proposedStartDate }}</mat-card-subtitle>
            <!-- <img mat-card-sm-image [src]="engagmentDetails.imgSrc" > -->
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <div class="details">
                <p>Scope: {{ engagmentDetails.scope }}</p>
                <p>Status: +{{ engagmentDetails.status }}</p>
              </div>
        </mat-card-content>
  </mat-card>
  